body {
    width: 100vw;
    height: 100vh;
}

#areaMain {
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

#chatMain {
    width: 100%;
    flex: 1;
    max-height: 100%;
}

#areaBusca {
    height: 100px;
}

#conversas {
    border-right: 1px solid #adb5bd09;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.usuario {
    height: 90px;
    max-height: 100px;
    display: flex;
    font-family: 'Montserrat';
    background-color: #adb5bd09;
    margin: 5px 0px;
    border-radius: 7px;
    padding: 1px 16px;
    transition: ease 0.4s background;
    cursor: pointer;
}

.usuario img {
    max-height: 85%;
    min-height: 40%;
}

.usuario:hover {
    background-color: #adb5bd1c;
}

.active {
    background-color: #adb5bd1c;
}

.horario {
    font-size: 10px;
    color: #adb5bd;
}

.ultimaMensagem {
    font-size: 12px;
    color: #81868b;
}

#areaBusca {
    height: 100px;
}

.search-input {
    position: relative;
    width: 100%;
}
  
.search-input input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background-color: #30303048;
    border: none;
    color: #ffffff;
    border-radius: 20px;
    transition: 1s ease all;
}
  
.search-input input[type="text"]::placeholder {
    color: #aaaaaa;
}
  
.search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #aaaaaa;
    cursor: pointer;
    width: 20px; /* Defina o tamanho desejado para o ícone */
    height: 20px;
}
  
.search-input .search-icon svg {
    width: 100%;
    height: 100%;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 3px;
  }
  
::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}
  
::-webkit-scrollbar-thumb {
    background-color: #88888881;
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #2e2e2e;
}
  
/* Estilizando a rolagem horizontal */
::-webkit-scrollbar-horizontal {
    height: 8px;
}
  
::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
}
  
::-webkit-scrollbar-thumb:hover:horizontal {
    background-color: #555;
}
  
/* CHAT */

#areaChat {
    border: 1px solid #2e2e2e;
}

#conversa header {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #adb5bd0e;
}

#conversa header .nome {
    font-size: 16px;
}
#conversa header .status {
    font-size: 12px;
}

#conversa header .foto {
   
}
#conversa header .foto img {
    align-self: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}


#sendMensageArea {
    height: 100px;
    background-color: #adb5bd0e;
    display: flex;
    align-items: center;
}

.areaInput {
    display: flex;
    align-items: center;
    background-color: #adb5bd1c;
    border-radius: 10px;
    padding: 5px;
    transition: width 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0px auto;
}

.areaInput textarea {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
    background-color: transparent;
    transition: width 0.3s ease;
    width: 0;
    color: #adb5bd;
    resize: none;
}

  .areaInput textarea:focus {
    outline: none;
    border: 0px solid red;
    box-shadow: none;
  }

  .areaInput textarea:not(:placeholder-shown) {
    width: 100%;
  }

  .send-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .send-button:disabled {
    background-color: #555;
  }
  .send-button:not(:disabled):hover {
    background-color: #dc354680;
  }