#mainArea {
    display: flex;
}
#chatMain {
    width: 100%;
    flex: 1;
}
#conversas {
    border-right: 1px solid #adb5bd09;
}
.usuario {
    height: 90px;
    max-height: 100px;
    display: flex;
    font-family: 'Montserrat';
    background-color: #adb5bd09;
    margin: 5px 0px;
    border-radius: 7px;
    padding: 1px 16px;
    transition: ease 0.4s background;
    cursor: pointer;
}
.usuario img {
    max-height: 85%;
    min-height: 40%;
}
.usuario:hover {
    background-color: #adb5bd1c;
}
.active {
    background-color: #adb5bd1c;
}
.horario {
    font-size: 10px;
    color: #adb5bd;
}
.ultimaMensagem {
    font-size: 12px;
    color: #81868b;
}
#areaBusca {
    height: 100px;
}

.search-input {
    position: relative;
    width: 100%;
}
  
.search-input input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background-color: #30303048;
    border: none;
    color: #ffffff;
    border-radius: 20px;
    transition: 1s ease all;
}
  
  .search-input input[type="text"]::placeholder {
    color: #aaaaaa;
  }
  
  .search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #aaaaaa;
    cursor: pointer;
    width: 20px; /* Defina o tamanho desejado para o ícone */
    height: 20px;
  }
  
  .search-input .search-icon svg {
    width: 100%;
    height: 100%;
  }


/* CHAT */
#conversa header {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #adb5bd09;
}

#conversa header .nome {
    font-size: 16px;
}
#conversa header .status {
    font-size: 12px;
}

#conversa header .foto {
   
}
#conversa header .foto img {
    align-self: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}


#sendMensageArea {
    height: 100px;
}